@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
    --main-color: rgb(253, 255, 182);
    --fore-color: rgb(251, 250, 235);
    --shadow-color: rgb(190, 192, 138);
    --interaction-color: rgb(46, 55, 63);
}

body {
    display: flex;
    font-family: 'Raleway', sans-serif;
}

/* ------------------------------------------------- */
/* ###################  SIDEBAR  ################### */
/* ------------------------------------------------- */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("lighthouse.jpg");
    background-size: auto 160%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(126, 205, 209);
    width: 35vw;
}

.sidebar-title {
    display: flex;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.471);
    align-items: center;
    color: var(--main-color);
    width: 100%;
    top: 25vmin;
}

.sidebar-photo-author {
    position: relative;
    bottom: 5px;
    color: var(--main-color);
    font-size: min(3vw, 1em);
    text-align: center;
}

.sidebar-link {
    color: var(--main-color);
}

.sidebar-logo {
    position: relative;
    left: 3vw;
    width: 5vw;
}

.sidebar-title-text {
    margin: 0px;
    font-size: min(5rem, 6vw);
    font-weight: 500;
    transform: scaleX(0.7);
}

/* ------------------------------------------------- */
/* #################  FORM CONTENT  ################ */
/* ------------------------------------------------- */

.form-content {
    --margin-left: 3vw;
    padding-top: min(calc(4vw - 10px), calc(8vh - 10px));
    padding-bottom: 90px;
    background-color: var(--main-color);
}

.form-content-intro, .form-content-login {
    margin-top: 0;
    margin-left: var(--margin-left);
    margin-right: calc(25vw - 100px);
    font-size: 1.3em;
}

.form-content-link {
    color: var(--interaction-color);
    font-weight: 600;
    text-decoration: none;
}

.form-content-login {
    margin-top: 20px;
    line-height: 28px;
}

/* ------------------------------------------------- */
/* #####################  FORM  #################### */
/* ------------------------------------------------- */

.form {
    margin-top: min(3vw, 6vh);
    padding: 20px 0 20px var(--margin-left);
    background-color: var(--fore-color);
    box-shadow: 5px 5px 5px var(--shadow-color);
}

.form-action-call {
    font-size: 2em;
    margin: 0;
}

fieldset {
    display: flex;
    border: none;
    margin: 15px 0;
    padding: 0;
    padding-right: 5vw;
    gap: 3vw;
    margin-right: var(--margin-left);
}

.input-group {
    display: flex;
    flex: 1 1 15vw;
    min-width: 15vw;
    max-width: 300px;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85em;
    font-weight: bold;
    color: rgb(84, 84, 84);
    margin-bottom: 0.1em;
}

.required::after {
    content: "*";
    font-size: 2em;
    line-height: 0;
    color: red;
    position: relative;
    top: 7px;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(194, 193, 193);
    padding: 0.3em 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    width: 90%;
}

input:focus {
    box-shadow: 5px 5px 5px var(--shadow-color);
}

/* Show the check icon when an input field is valid, but not when it's placeholder is being shown, which mean the field is currently empty. This is done in order to not always show the check icon on not required fields. */
input:valid:not(:placeholder-shown) {
    background-image: url(check.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 98%;
}

/* Similar to above, but to show an error icon when the input field is invalid and not empty */
input:invalid:not(:placeholder-shown) {
    background-image: url(error.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 98%;
}

/* When an input field isn't focused anymore and it is still invalid show a red border on it to catch the user's attention */
input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: #ff0000;
    background-image: url(error.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 98%;
}

button {
    margin-left: var(--margin-left);
    margin-top: 4vh;
    padding: 0.8em 3em;
    border: none;
    border-radius: 5px;
    background-color: var(--interaction-color);
    color: var(--fore-color);
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 5px 5px 5px var(--shadow-color);;
}

button:hover {
    cursor: pointer;
}