:root {
    --main-color: rgb(253, 255, 182);
    --fore-color: rgb(251, 250, 235);
    --shadow-color: rgb(190, 192, 138);
    --interaction-color: rgb(46, 55, 63);
}

body {
    display: flex;
    height: 100vh;
}

/* #################  IMAGE  ################# */

.image-sidebar {
    background-image: url("lighthouse.jpg");
    background-size: auto 160%;
    background-position: center;
    background-color: rgb(126, 205, 209);
    width: 35vw;
}

.image-sidebar > div {
    position: relative;
    background-color: rgba(0, 0, 0, 0.371);
    color: var(--main-color);
    top: 200px;
}

.image-sidebar > div > p {
    margin: 0px;
    text-align: center;
    font-size: min(5rem, 6vw);
    font-weight: 600;
    transform: scaleX(0.7);
}

/* #################  FORM  ################# */

.form-content {
    --margin-left: 3vw;
    background-color: var(--main-color);
    width: 65vw;
}

.form-content > p {
    margin-left: var(--margin-left);
}

form {
    padding: 20px 0 20px var(--margin-left);
    margin-top: 50px;
    background-color: var(--fore-color);
    box-shadow: 0 5px 5px var(--shadow-color);
}

form > p {
    font-size: 2em;
    margin: 0;
}

fieldset {
    display: flex;
    border: none;
    margin: 15px 0;
    padding: 0;
    margin-right: 20vw;
    gap: 4vw;
}

fieldset > div {
    display: flex;
    flex-direction: column;
}

button {
    margin-left: var(--margin-left);
    background-color: var(--interaction-color);
    color: var(--fore-color);
}